include README.rst CHANGELOG.rst LICENSE.txt CONTRIBUTORS.rst requirements.txt dev-requirements.txt RELEASE.rst tox.ini
recursive-include tests *
recursive-include docs *
recursive-exclude docs/_build *
